# Creato da https://www.toptal.com/developers/gitignore/api/intellij
# Modifica su https://www.toptal.com/developers/gitignore?templates=intellij

### Intelligenza ###
# Copre gli IDE JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm e Rider
# Riferimento: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Roba specifica dell'utente
.idea/**/workspace.xml
.idea/**/attività.xml
.idea/**/usage.statistics.xml
.idea/**/dizionari
.idea/**/scaffale

# Specifico dell'utente AWS
.idea/**/aws.xml

# File generati
.idea/**/contentModel.xml

# File sensibili o ad alto tasso di abbandono
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle e Maven con importazione automatica
# Quando si utilizza Gradle o Maven con l'importazione automatica, è necessario escludere i file del modulo,
# poiché verranno ricreati e potrebbero causare abbandono. Rimuovere il commento se si utilizza
# importazione automatica.
# .idea/artefatti
# .idea/compilatore.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/moduli
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Plug-in Mongo Explorer
.idea/**/mongoSettings.xml

# Formato di progetto basato su file
*.iws

#IntelliJ
fuori/

# mpeltonen/sbt-idea plugin
.idea_modules/

# plug-in JIRA
atlassian-ide-plugin.xml

# Plug-in Cursive Clojure
.idea/replstate.xml

# Plug-in SonarLint
.idea/sonarlint/

# Plugin Crashlytics (per Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
tessuto.proprietà

# Rest Client basato su editor
.idea/httpRequests

# File di cache serializzato Android Studio 3.1+
.idea/caches/build_file_checksums.ser

### Patch Intellij ###
# Motivo del commento: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# moduli.xml
# .idea/misc.xml
# *.ipr

# Plug-in Sonarlin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Plug-in SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# plug-in Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-it.xml
.idea/**/navigatore-markdown/

# Errore nella creazione di file nella cache
# Vedi https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# plug-in CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Azure Toolkit per plug-in IntelliJ
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

# Fine di https://www.toptal.com/developers/gitignore/api/intellij
